{% load block_areas %}
<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="author" content="Martina Vanda" />
		<meta name="description" content="{% block meta_description %}Martina Vanda{% endblock %}" />
		<meta name="keywords" content="{% block meta_keywords %}Martina Vanda{% endblock %}" />
		<title>{%block meta_title %} Martina Vanda {% endblock %} </title>
		
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}base/css/base.css" />
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}content/css/content.css" />
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        
		{% block javascript %}
		{% endblock %}

	</head>
	
	<body class="{% block body_class%}{% endblock%}">
			
		<div id="holder">
			<div id="sidebar">

				{% autoescape off %}
					{% render_block_area 'sidebar' %}
				{% endautoescape %}
			</div>	
			<h2 id="pageTitle">{% block pageTitle %}{% endblock %}</h2>
			
			{% block content %}
			{% endblock %}
		</div>	
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>			
	</body>
</html>
