{% extends "base/template.base.html" %}
{% load thumbnail %}

{%block meta_title %}{{entry.title}} - Martina Vanda {%endblock%}
{% block meta_keywords %}{{entry.seo_keywords}}{% endblock %}
{% block meta_description %}{{entry.seo_description}}{% endblock %}

{% block body_class%}entry{% endblock%}


{% block javascript %}
	<script type="text/javascript">

        $(function() {

        	var totalEntryWidth = 0;
        	$('.contentBox').each(function(index, entry) {
        		totalEntryWidth += $(this).width() + 40;
        	});

        	$('#content').width(totalEntryWidth)

        	var sizeElements = function() {
        		$('#holder').width($(window).width()).height($(window).height());
        		$('#contentHolder').width($(window).width() - 305);

        	};

        	$(window).resize(sizeElements);
        	sizeElements();

        	var scrollInterval = false;
        	$(document).mouseup(function() {
        		try {
        			clearInterval(scrollInterval);
        		} catch(e) {}
        	});

        	$('#scrollPrev').mousedown(function(){
        		scrollInterval = setInterval(function() {
        			$('#contentHolder').scrollLeft($('#contentHolder').scrollLeft()-10);
        		}, 20);
        	});


        	$('#scrollNext').mousedown(function(){
        		scrollInterval = setInterval(function() {
        			$('#contentHolder').scrollLeft($('#contentHolder').scrollLeft()+10);
        		}, 20);
        	});

        });

     </script>
{% endblock %}

{% block pageTitle%} {{entry.title}} {% endblock%}

{% block content %}
	
<div id="scrollControls">
	<div id="scrollPrev"></div>
	<div id="scrollNext"></div>
</div>

<div id="contentHolder">
	<div id="content">
		<div class="entries">


			{% for entry_image in entry.image_set.all %}
				{% thumbnail entry_image.image "x500" upscale=False as im %}
				<div class="contentBox" style="width:{{im.width }}px">
		
				    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
					<h2 class="entryFullImageCaption">{{entry_image.caption|linebreaksbr}}</h2>
				</div>
				{% endthumbnail %}
		
			{% endfor %}

		</div>
					
		<div style="clear:both;"></div>
	</div>		
</div>



<div id="entryDescriptionBox" >
		{% autoescape off %}
			{{entry.main_content}}
		{% endautoescape %}
</div>


<div id="entryLikeButton" class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

{% endblock %}
