{% extends "base/template.base.html" %}
{% load thumbnail %}

{%block meta_title %}{{entry.title}} - Martina Vanda {%endblock%}
{% block meta_keywords %}{{entry.seo_keywords}}{% endblock %}
{% block meta_description %}{{entry.seo_description}}{% endblock %}

{% block body_class%}entry{% endblock%}

{% block pageTitle%} {{entry.title}} {% endblock%}

{% block content %}
	

<div id="contentHolder">
	<div id="content">
		<div class="entries">


			{% for entry_image in entry.image_set.all %}
				{% thumbnail entry_image.image "x500" upscale=False as im %}
				<div class="contentBox" style="width:{{im.width }}px">
		
				    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="">
					<h2 class="entryFullImageCaption">{{entry_image.caption|linebreaksbr}}</h2>
				</div>
				{% endthumbnail %}
		
			{% endfor %}

		</div>
					
		<div style="clear:both;"></div>
	</div>		
</div>



<div id="entryDescriptionBox" >
		{% autoescape off %}
			<pre>{{entry.main_content}}</pre>
		{% endautoescape %}
</div>

{% endblock %}
