body {
	background-color:#fff;
	font-family:Arial, Helvetica, sans-serif;	
	margin:0px;
	padding:0px;
	font-size:10pt;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}

h1 a {
	color:#777;
	text-decoration:none;
}


#sidebar {
	width:260px;
	background-color: #fff;
	height:900px;
	padding:0px 10px;
	position: absolute;
}

#pageTitle {
	
	position: absolute;
	top:5px;
	left:280px;
	color:#888;
	font-weight: normal;
}

#pageTitle a {
	font-weight:normal;
	font-size:13px;
	text-decoration: none;
	color:#444444;
	margin:0px;
	padding:0px;
}

#contentHolder {
	overflow:auto;
	position: absolute;
	left:280px;
	top:60px;
	padding-bottom:15px;
}

#holder {
	position:relative;
}

#tagList li, #tagList {
	list-style:none;
	margin:0px;
	padding:0px;
}
#tagList {
	margin:25px 0px;
}

#tagList a, .orange a {
	text-decoration:none;
	color:#E9943A;
	display:block;
	line-height:1.1em;
	font-size:11pt;
}


.list_column {
	width:340px;
	float:left;
}

.menu {
	margin:25px 0px;
}

.menu ul, .menu li {
	margin:0px;
	padding:0px;
	list-style:none;
}


.menu h3 {
	font-size:10pt;
	margin:0px;
	padding:0px;
	font-weight:normal;
}

.orange h3 {
	color:#D2682A;
	font-family: normal,'American Typewriter',Courier,'Courier New',Verdana,sans-serif;

}

.black h3 {
	color:#444444;
}

.black a {
	text-decoration: none;
	color:#000;
}

.black a:hover {
	color:#666666;
}
